
.item{
	background-color: #ACC;
	position: relative;
	margin-bottom: 0.5em;
	padding: 1.0em;	
}

.itemText{
	position: relative;
	bottom: 1.5em;
	left:1.5em;
}

.deadline{
	position: absolute;
	bottom: 1.5em;
	right:1.5em;	
}

img.photo {
  width: 6.0em;
  height: 7.5em;
}

img.photo_small { width: 4em; height: 5em; }

img.photo_tiny { width: 2em; height: 2.5em; }